$color-black:       #0e0e12;
$color-dark-blue:   #1a1a24;
$color-slate:       #333346;
$color-steel:       #535373;
$color-accent:      #d96c75;
$color-gray:        #a6a6bf;
$color-light-gray:  #c1c1d2;
$color-off-white:   #e6e6ec;
